:root {
  margin: 20px;
}

.container {
  margin: 20px;
  background-color: bisque;
  text-align: center;
}

.btn-container {
  text-align: center;
}
/* 
.a-container {
  max-width: 500px;
  margin: 0 auto;
} */
